*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: 'Raleway', 'sans-serif';
    background-image: url(formback.jpg);
    color: #fff;
    line-height: 1.8;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container{
    margin: 25px auto;
    max-width: 400px;
    padding: 20px;
}

.form-wrap{
    background-color: #fff;
    padding: 15px 25px;
    color: #333;
    border-radius: 8px;
}

.form-wrap h1
.form-wrap p{
    text-align: center;
}

.form-wrap .form-group{
    margin-top: 15px;
}

.form-wrap .form-group label{
    display: block;
    color: #666;
}

.form-wrap .form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-wrap button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #49c1a2;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.form-wrap button:hover{
    background: #37a08e;
}
.form-wrap .bottom-text a{
    text-decoration: none;
}
.form-wrap .bottom-text{
    font-size: 13px;
    margin-top: 20px;
}
footer p{
    color: white;
}
footer a{
    color: #49c1a2;
    text-decoration: none;
}



@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

footer {
    padding-top: 10px;
    background-color: #b2bec3;
}

a {
    text-decoration: none;
    color: #2d3436;
}

a:hover {
    color: #dfe6e9;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
    line-height: 20px;
}

span {
    color: #2d3436;
    padding-bottom: 10px;
}

span:hover {
    color: #dfe6e9;
}   

h3 {
    color: #2d3436;
    font-size: 16px;
    margin-left: 24px;
}

/*footer isi*/
.content-footer {
    display: flex;
    background-color: #b2bec3;
}

.content-kiri1,
.content-kiri2,
.content-kanan1,
.content-kanan2 {
    flex: auto;
    padding-left: 10px;
    font-size: 12px;
}

.copyright p {
    background-color: #dfe6e9;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 30px;
    font-size: 10px;
}

/* Untuk Tablet */
@media (max-width: 1000px) {
    .content-footer {
        flex-wrap: wrap;
    }

    .content-kiri1,
    .content-kiri2,
    .content-kanan1,
    .content-kanan2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    footer {
        text-align: center;
    }
}

/* Untuk Smartphone */
@media (max-width:670px) {

    /* Tetapkan flex-direction milik .flex-list */
    .content-footer {
        flex-direction: column;
        padding-bottom: 10px;
    }

    /* Tetapkan margin dari .flex-list li ke 0 auto */
    .content-kiri1,
    .content-kiri2,
    .content-kanan1,
    .content-kanan2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    footer {
        text-align: center;
    }
}

.icons-1 {
    width: 20px;
    height: 20px;
}

.icons-2 {
    width: 20px;
    height: 20px;
}